.form {
  margin-top: 54px;
}


@media screen and (max-height: 480px) {
  .form {
    margin-top: 16px;
  }
}

.form__input {
  border-bottom: 1px solid var(--color-text-modal);
  width: 100%;
  padding-block: 14px;
  font-weight: 400;
  font-size: 14px;  
}

.form__input::placeholder {
  color: var(--color-text-modal);
}

.form__button {
  margin-top: 48px;
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 2px;
  padding: 14px;
}

@media screen and (max-height: 480px) {
  .form__button {
    margin-top: 28px;
  }
}

.form__button:hover {
  opacity: 0.8;
}